.indexBody {
    background-image: url(../images/index.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: $color-light-black;

    @include tablet {
        background-image: url(../images/indexBodyMd.jpg);
    }
}


.cardContainter {
    display: flex;
    justify-content: space-around;
    padding: 100px 0px 30px 0px;
    flex-wrap: wrap;

    div {
        overflow-y: hidden;
        display: inline-block;
        color: $color-green ;
        background-color: $color-black ;
        border: solid 2px $color-green;
        width: 262px;
        height: 700px;
        padding: 10px;
        text-align: center;

        @include tablet {
            margin: 50px 0px;
        }

        h1 {
            color: $color-white;
        }
    }

    p {
        font-size: 1.4rem;
    }
}