.footer {
    background-color: $color-black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 12px 0px 0px 10px;
    .footerIcons{
    a:hover {
        scale: 1.10;
        color: $color-white-hover;
        transition-duration: 1s;
        }
    }
    h4{
        display: inline-block;
        color: $color-white;
        font-size: 1,5rem;
        text-align: end;
    }
    a{
        font-size: 2rem;
        display: inline-block;
        color: $color-white;
        padding: 0px 5px 0px 5px;
    }
}