.navBar {
  padding: 45px 0px 15px 0px;
  width: 100vw;
  background-color: $color-black;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  @include tablet {
    display: inline-block;
  }

  div {
    @include tablet {
      text-align: center;
    }

    a {
      color: $color-green;
      font-size: 1.6rem;

      span {
        color: $color-white;
      }

      span:hover {
        color: $color-white-hover;
      }
    }

    a:hover {
      color: $color-green-hover;
    }
  }

  ul {
    display: flex;

    @include tablet {
      flex-direction: column;
    }

    li {
      list-style: none;
      color: $color-green;
      font-size: 1.5rem;
      padding: 0px;

      @include tablet {
        text-align: center;
      }

      a {
        padding: 0px 15px 0px 15px;
        color: $color-green;
      }
    }

    a:hover {
      color: $color-green-hover;
    }
  }

  button {
    background-color: $color-green;
    font-size: 1.2rem;
  }

  button:hover {
    background-color: $color-green-hover;
  }
}
