$color-black: #070600;
$color-light-black:#1d1d1d;
$color-green: #00FF00;
$color-green-hover: #00b000;
$color-white: #f7f7ff;
$color-white-hover: #a3a3a3;

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 576px) {
        @content;
    }
}

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap);

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 50;
    scroll-behavior: smooth;
    text-decoration: none !important;
    overflow-x: hidden !important;
}

.green{
    color: $color-green;
}